/*styling to see the elements on the gate page*/
#wrapper {

    width:980px;
    margin:auto;
    position:relative;
    top:75px;
    
}

body {
    background-image:url(images/hazy.jpg);
}

div {

    border:1px solid red;
    margin:10px;
    padding:10px;
}

footer {
    text-align:center;
    color:red;
}

header {
    text-align:center;
}

.btn {                      
    border:1px solid blue;
    width:70px;
    height:40px;
    margin-left:800px;
    padding:10px;
}


.reload {
    
    color:red;
    background-color:black;
    }


.shoot{
    position:fixed;
    color:red;
    background-color:black;
}




  











