body{
    background-color:purple;
    display:flex;
    justify-content:center;
}
nav{
    display:flex;
    justify-content:center;
}
#container{
    box-sizing:border-box;
    width:1018px;
    border:1px solid red;
    padding:7px;
}
canvas{
    border: 1px solid red;
    box-sizing:border-box;
}
a:link, a:visited{
    display:inline-block;
    background-color:yellow;
    padding:10px;
    margin:20px;
}

h2 {
    color:red;
    background-color:black;
    Width:100px;
    height:40px;
    font-size:20px;
    font-style: oblique;
    text-align:center;
    margin-left:450px;
    
   
}

#result {
    color:red;
    background-color:black;
    width:108px;
    font-size:20px;
    font-style:oblique;
    text-align:center;
    
}

.player {
    text-align: center;
    
}

.computer {
    text-align: center;
}






    



